Using slicing technique :

In [10]:
new_list =[0,1,2,3,4,5,6,7,8,9]
reversed_list = new_list[::-1]   
reversed_list

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

List comprehension :

In [6]:
new_list = [0,1,2,3,4,5,6,7,8,9]
print(new_list)
reverse_list = [x /2 for x in new_list ]
print(reverse_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]

## Dividing each value of the reversed list by 2

In [11]:
reverse_list = [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
print(reverse_list)
reverse_list = [x /2 for x in reverse_list ]
print(reverse_list)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[4.5, 4.0, 3.5, 3.0, 2.5, 2.0, 1.5, 1.0, 0.5, 0.0]

In [13]:
import numpy as np
north = np.array([0,1])
south = np.array([0,-1])
np.dot(north,south)

-1

In [20]:
def my_function(a,b):
  return np.dot(b, a)
my_function([[2, 1], [0, 3]],[[1, 1], [3, 2]])

#def my_function(a,b):
    #return np.cross

array([[2, 4],
       [6, 9]])

### One hot encoding

A one hot encoding is a representation of categorical variables as binary vectors.

This first requires that the categorical values be mapped to integer values.

Then, each integer value is represented as a binary vector that is all zero values except the index of the integer, 
which is marked with a 1.

### Why we use it :

We use one encoding because of the following reasons :

1) Machine learning algorithms cannot work with categorical data directly.

2) Categorical data must be converted to numbers so that the ML algorithms can do a better job in prediction.

In [ ]:
### Manual Calculation of one-hot encoding for Belize Airbnb (neighbourhood column)

In [3]:
import pandas as pd 
belize_df = pd.read_csv("belize_airbnb_listings.csv")
belize_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,3,316,2/19/2021,2.46,5,164
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Michael,Belize,Belize Islands,17.73221,-88.03824,Entire home/apt,191,2,30,3/14/2020,0.78,1,364
3,110483,Michelo's fuchsia suite,567809,Michel,Stann Creek,Stann Creek Mainland,16.52114,-88.36926,Hotel room,121,1,27,2/24/2020,0.29,3,331
4,120115,Seaside Villas Second Floor Unit #4,604999,Bobbi,Belize,Belize Islands,17.74166,-88.02395,Entire home/apt,343,1,30,3/18/2020,0.64,22,203

In [4]:
belize_df['neighbourhood_group'].value_counts()

Belize         1574
Stann Creek     577
Cayo            505
Corozal          65
Toledo           47
Orange Walk      28
Name: neighbourhood_group, dtype: int64

In [7]:
import pandas as pd
dummies = pd.get_dummies(belize_df['neighbourhood_group'])
dummies

      Belize  Cayo  Corozal  Orange Walk  Stann Creek  Toledo
0          1     0        0            0            0       0
1          1     0        0            0            0       0
2          1     0        0            0            0       0
3          0     0        0            0            1       0
4          1     0        0            0            0       0
...      ...   ...      ...          ...          ...     ...
2791       1     0        0            0            0       0
2792       0     0        1            0            0       0
2793       1     0        0            0            0       0
2794       1     0        0            0            0       0
2795       0     1        0            0            0       0

[2796 rows x 6 columns]

In [9]:
merged = pd.concat([belize_df,dummies],axis='columns')
merged

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Belize,Cayo,Corozal,Orange Walk,Stann Creek,Toledo
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.747860,-88.023980,Entire home/apt,141,...,2/23/2021,2.00,5,225,1,0,0,0,0,0
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.748320,-88.024740,Entire home/apt,71,...,2/19/2021,2.46,5,164,1,0,0,0,0,0
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Michael,Belize,Belize Islands,17.732210,-88.038240,Entire home/apt,191,...,3/14/2020,0.78,1,364,1,0,0,0,0,0
3,110483,Michelo's fuchsia suite,567809,Michel,Stann Creek,Stann Creek Mainland,16.521140,-88.369260,Hotel room,121,...,2/24/2020,0.29,3,331,0,0,0,0,1,0
4,120115,Seaside Villas Second Floor Unit #4,604999,Bobbi,Belize,Belize Islands,17.741660,-88.023950,Entire home/apt,343,...,3/18/2020,0.64,22,203,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2791,48283996,Magical Island,17994012,Ronald,Belize,Belize Islands,17.945690,-87.944620,Entire home/apt,1054,...,NaN,NaN,2,347,1,0,0,0,0,0
2792,48287613,"The Luxury Suite - Corozal, Bz- 3Bdr/2bthr CASA1",375769845,Michael,Corozal,Corozal,18.374630,-88.400190,Entire home/apt,401,...,NaN,NaN,2,302,0,0,1,0,0,0
2793,48296096,Lagoon front apartment w/shared pool - two mi...,76414486,Vacasa Belize,Belize,Belize Islands,17.934580,-87.955220,Entire home/apt,252,...,NaN,NaN,204,364,1,0,0,0,0,0
2794,48296978,Beachfront Poolside Condo,15308338,Alexandra,Belize,Belize Islands,17.930010,-87.957120,Entire home/apt,242,...,NaN,NaN,4,364,1,0,0,0,0,0
2795,48332221,Standard Room - San Ignacio Resort Hotel,60399527,San Ignacio,Cayo,Cayo,17.154127,-89.069689,Private room,226,...,NaN,NaN,5,365,0,1,0,0,0,0

In [11]:
final = merged.drop(columns = ['neighbourhood_group','Toledo'],inplace=True) 
final

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Belize,Cayo,Corozal,Orange Walk,Stann Creek
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize Islands,17.747860,-88.023980,Entire home/apt,141,3,250,2/23/2021,2.00,5,225,1,0,0,0,0
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize Islands,17.748320,-88.024740,Entire home/apt,71,3,316,2/19/2021,2.46,5,164,1,0,0,0,0
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Michael,Belize Islands,17.732210,-88.038240,Entire home/apt,191,2,30,3/14/2020,0.78,1,364,1,0,0,0,0
3,110483,Michelo's fuchsia suite,567809,Michel,Stann Creek Mainland,16.521140,-88.369260,Hotel room,121,1,27,2/24/2020,0.29,3,331,0,0,0,0,1
4,120115,Seaside Villas Second Floor Unit #4,604999,Bobbi,Belize Islands,17.741660,-88.023950,Entire home/apt,343,1,30,3/18/2020,0.64,22,203,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2791,48283996,Magical Island,17994012,Ronald,Belize Islands,17.945690,-87.944620,Entire home/apt,1054,3,0,NaN,NaN,2,347,1,0,0,0,0
2792,48287613,"The Luxury Suite - Corozal, Bz- 3Bdr/2bthr CASA1",375769845,Michael,Corozal,18.374630,-88.400190,Entire home/apt,401,3,0,NaN,NaN,2,302,0,0,1,0,0
2793,48296096,Lagoon front apartment w/shared pool - two mi...,76414486,Vacasa Belize,Belize Islands,17.934580,-87.955220,Entire home/apt,252,1,0,NaN,NaN,204,364,1,0,0,0,0
2794,48296978,Beachfront Poolside Condo,15308338,Alexandra,Belize Islands,17.930010,-87.957120,Entire home/apt,242,3,0,NaN,NaN,4,364,1,0,0,0,0
2795,48332221,Standard Room - San Ignacio Resort Hotel,60399527,San Ignacio,Cayo,17.154127,-89.069689,Private room,226,1,0,NaN,NaN,5,365,0,1,0,0,0